@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1bktm');
  src:  url('fonts/icomoon.eot?1bktm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1bktm') format('truetype'),
    url('fonts/icomoon.woff?1bktm') format('woff'),
    url('fonts/icomoon.svg?1bktm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-germany-flag .path1:before {
  content: "\e902";
  color: rgb(255, 255, 0);
}
.icon-germany-flag .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(20, 20, 20);
}
.icon-germany-flag .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.icon-germany-flag .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(252, 90, 99);
}
.icon-france-flag .path1:before {
  content: "\e906";
  color: rgb(254, 75, 85);
}
.icon-france-flag .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(65, 71, 154);
}
.icon-france-flag .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(244, 244, 244);
}
.icon-itali-flag .path1:before {
  content: "\e909";
  color: rgb(76, 127, 86);
}
.icon-itali-flag .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-itali-flag .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}
.icon-japon-flag .path1:before {
  content: "\e90c";
  color: rgb(239, 239, 239);
}
.icon-japon-flag .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(215, 0, 39);
}
.icon-suecia-flag .path1:before {
  content: "\e90e";
  color: rgb(253, 203, 0);
}
.icon-suecia-flag .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 106, 166);
}
.icon-suecia-flag .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 106, 166);
}
.icon-suecia-flag .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 106, 166);
}
.icon-suecia-flag .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 106, 166);
}
.icon-uk-flag .path1:before {
  content: "\e913";
  color: rgb(215, 0, 39);
}
.icon-uk-flag .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(239, 239, 239);
}
.icon-uk-flag .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(239, 239, 239);
}
.icon-uk-flag .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(239, 239, 239);
}
.icon-uk-flag .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(239, 239, 239);
}
.icon-uk-flag .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(215, 0, 39);
}
.icon-uk-flag .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(215, 0, 39);
}
.icon-uk-flag .path8:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(215, 0, 39);
}
.icon-uk-flag .path9:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(215, 0, 39);
}
.icon-uk-flag .path10:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path11:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path12:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path13:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path14:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path15:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path16:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-uk-flag .path17:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 82, 179);
}
.icon-usa-flag .path1:before {
  content: "\e924";
  color: rgb(40, 86, 127);
}
.icon-usa-flag .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-usa-flag .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-usa-flag .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}
.icon-usa-flag .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}
.icon-usa-flag .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-usa-flag .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-usa-flag .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}
.icon-usa-flag .path9:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}
.icon-usa-flag .path10:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(229, 230, 231);
}
.icon-usa-flag .path11:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(191, 58, 43);
}

.icon-Dimenciones:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-contacto:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-download:before {
  content: "\ea36";
}
