#databaner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}
.DataBanerIN{
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    width: 50%;
    border-width: 2px;
    border-color: #ff0000;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 0px;
    
}

#databaner h2{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #6A0F0F;
    border-bottom-style: solid;
    border-radius: 9px;
    text-align: center;
}
#botondemas{
    margin: 10px;
    margin-bottom: 70px;
    display: flex;
}
#botonvermas{
    background-color: #000000;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 50px;
    border-color: #ff0000;
    border-width: 2px;
    border-style: solid;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

#nombre_marca{
    display: flex;
}
#bandera{
    font-size: 40px;
    background: none;
}