
body{
    background: #000;
    width: 99%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
#baner{
    background: black;
    width: 100%;
    height: 125px;
    margin: 0%;
    overflow: hidden;
}
#title{
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    text-decoration: underline;

    text-decoration-color: red;
}
#subtitle{
    font-size: 25px;
    font-family: 'Allison', cursive;
    color: white;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.marcasOut {
  width: 100%;
  height: 65px;
  position: relative;
  background:black;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.marcasIn {
  height: 100px;
  display: inline-flex;
  align-items: center;
  
  animation: maracasAnimacion 60s linear infinite;
  
}
.marcas {
  height: 50px;
  padding: 0 30px 0 30px;
  filter: invert(100%);

}
@keyframes maracasAnimacion {
  0% {transform: translateX(65%);}
  100% {transform: translateX(-65%);}
}

.marcasOut li{
  list-style: none;
}
.imgpreview{
  height: 100%;
  display: block; 
  margin: auto;
}

.checkbox_Select{
  position: relative;
  float: right;
  bottom: 40px;
  width: 52px;
	height: 30px;
  margin: 0%;
}
.texto_wallpaper{
  margin: 0%;
  display: inline;
}

#Wallpepers{
	background: black;
	width: 100%;
	height: 1000px;
	margin: 0 auto;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
	overflow: hidden;
	

}
.item{
	background-color: black;
	width: 31%;
	height: 290px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
  position: relative;
	float: left;
  border-radius: 1%;
  border-color: red;
  border-width: 3px;
	border-style: solid;
  display: block; 
  margin: 1 auto;
  overflow: hidden;
}

.h3_text{
  position: relative;
  margin: 0%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: inline;
  padding-left: 1px;

}
.icon-Dimenciones{
  padding-left: 15px;
}
.icon-display{
  padding-left: 15px;
}


.texto_wallpaper div{
  position: relative;
  padding-left: 10px;
  background-color: black;
  height: auto;
  margin: 0%;
    
}

.previw{
  width: 100%;
  height: 233px;
  align-items: center;
  background: black;
  
}

.download-bar{
  background: black;
  width: 100%;
  height: 65px;
  margin: 0%;
  padding: 0%;
  bottom: 0;
  position: fixed;
  align-items: center;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #323232;
  justify-items: center;
}
#download{
  background: black;
  margin: 0%;
  margin-right: 100px;
  margin-top: 10px;
  border-radius: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  color: #fff;
  height: 50px;
  width: 50px;
  float: right;
  justify-content: center;
  padding: 0%;
  padding-top: 4px;
  font-size: 40px;
  
}
#download-icon{
  margin-top: 20px;
}
.name_pack{
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border: none;
  margin-left: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: red;
  
}
.name_pack:focus{
  background: black;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px; 

}
#box-icon{
  margin-left: 50px;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 25px;
  color: #fff;

}
.download-bar h2{
  color: #fff;
  font-family: 'Allison', cursive;
  font-size: 20px;
  margin-top: 30px;
  float: right;
  margin-right: 500px;
  display: inline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: red;

}
